<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>MiniWhatsApp</title>
</head>

<body>
    <div id="all">
        <div id="main">
            <h1>Login</h1>
            <form action="/register" method="post">
                <input type="text" class="infield" name="username" placeholder="Enter Username">
                <input type="password" class="infield" name="password" placeholder="Enter your password">
                <button class="submit">Login</button>
            </form>

            <div id="logbtn">
                <p id="textt">Not a User</p>
                <a href="/">
                    <button class="submit">SignUp</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>